#test{
	width: 16rem;
	height: auto;
	position:relative;
}
.test_head{
	position: fixed;
	top: 0;
	left: 0;
	width: 16rem;
	height: 2.5rem;
	background: #00aeef;
	color: #fff;
	line-height: 2.5rem;
	text-align: center;
	padding: 0 0.3rem;
	box-sizing: border-box;
}

.test_head span:nth-child(1){
	float: left;
}
.test_head span:nth-child(2){
	float: right;
	
}
.bug_div{
	padding-top: 2.5rem;
	overflow: auto;
}
.bug_div .bug_row{
	width: 100%;
	border-top: solid .5rem #eee;
    padding: .5rem 0rem .5rem 0rem;
    float: left;
}
.bug_div .bug_row .col-xs-3{
	line-height: normal;
}
.bug_div .bug_row input{
	text-indent: 0.5rem;
	border:none;
	outline: none;
	width: 90%;
	float: left;
	background: #fff;
}
.bug_div .bug_row .description{
	text-indent: 0.5rem;
	border:none;
	outline: none;
	width: 90%;
	float: left;
	overflow: auto;
}
.bug_div .bug_row i{
	color: #00aeef;
}
.bug_div .bug_row .row_r{
	width: 10%;
	float: right;
}

.test-left{
	width: 5rem;
	position: absolute;
    left: 0rem;
    top: 0rem;
    bottom: 0rem;
    background: #000000;
    opacity: 0.4;
    float: left;
    z-index: 9;
    overflow: auto;
}
.test_right{
	 position: absolute;
    width: 11rem;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #fff;
    z-index: 9;
    float: right;
}
.test_title{
	width: 100%;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	border-bottom: 0.05rem solid #ccc;
	font-size:.8rem;
}
.choose_list{
	width: 100%;
	height: auto;
}
.choose_list p{
	margin: 0.5rem 0.8rem;
	line-height: 1.5rem;
	min-height: 2rem;
}
.choose_list ul li{
	text-indent: 0.5rem;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	border-bottom: 0.05rem solid #ccc;
	
}
.accordion-heading{
	padding: 0.5rem 0.8rem;
	background: #EEEEEE;
	border-bottom: 0.05rem solid #fff;
}
.pic_show{
	padding: 0.5rem 0.8rem;
	color: #fff;
	background: #00aeef;
	font-weight: 600;
}
.m_box{margin-bottom: 5.2rem;background: #fff;}
.m_content{margin:0.95rem 0.76rem ;border:0.025rem solid #ccc;height: 17.6rem;overflow:auto ;overflow-x: hidden;border-radius:0.2rem;border-bottom: 0;}
.m_content span{display: block;border-bottom:0.025rem solid #ccc;padding:0.625rem 0.625rem 0 0.625rem ;word-wrap : break-word ;}
.m_content span:last-child{border-bottom:none;}
.m_content ba{display: block;border-bottom:0.025rem solid #ccc;padding:0.6rem 0.3rem ;word-wrap : break-word ;}
.m_sou{z-index:-1;background: #fff;position: fixed;top: 3rem;left: 0;}
