*{margin: 0;padding: 0;}
a{list-style: none;}
.y_box{    margin-bottom: 5.2rem;}
.y_top{position: fixed;left: 0;top: 0;width: 100%;background: #fff;}
			.y_nav{
				height: 1.8rem;
				width: 100%;
				background: #222222;
				border-bottom: 0.025rem solid #232323;

			}
.y_nav span{float: left;display: block;height:1.6rem; ;font-size: 0.5rem;color: #fff;padding-left: 0.75rem;line-height: 1.6rem;}
.y_nav p{float: right;width: 1.8rem;height: 1.6rem;background: #333333;color: #ffffff;line-height: 1.6rem;text-align: center;margin-right: 0.75rem;border-radius: 0.125rem;}
.y_nt{width: 100%;height:7rem;background: #222222;border-top: 0.025rem solid #363636;    display: none; }
.y_nt b{display: block;width: 100%;height:2rem;color:#b8b8b8;line-height: 2rem;padding-left: 0.7rem;}
.y_nt span{display: block;width: 100%;height:2rem;color:#b8b8b8;line-height: 2rem;padding-left: 0.7rem;}
.sou{margin-top: 1rem;}			
.content{margin:0.95rem 0.76rem ;border:0.025rem solid #ccc;height:auto;    border-radius:0.2rem;}
.content span{display: block;border-bottom:0.025rem solid #ccc;padding:0.95rem 0.625rem ;word-wrap : break-word ;}
.cwzy{height: 1rem;overflow: hidden; width: 100%}
.cwzy b{float: left; }
.cwzy d{float: right;}
.content span:last-child{border-bottom:none;}

.content ba{display: block;border-bottom:0.025rem solid #ccc;padding:0.6rem 0.3rem ;word-wrap : break-word ;}
.modl{width: 13rem;margin:2.3rem auto;}
.ba{border-radius:0.5rem 0.5rem 0 0 ;}
.xiugai{width: 13rem;height:2rem;line-height:2rem;text-align: center;background: #337ab7;border-radius: 0 0 0.5rem 0.5rem;color: #fff;margin: auto;}

.content ba:last-child{border-bottom:none;}
.cwzy a{display: block;width: 2rem;height: 1rem;float: left;color: #fff;border-radius: 0.125rem ;line-height: 1rem;text-align: center;margin-left: 0.2rem;}
.red{background:#DD5249;}
.yellow{background: #F0AC4B;}
.blue{background:#5CC0DD ;}
.cwzy zh{float: left;}
