<div class="li_box">
				<div class="li_top">
					<div class="li_nav" >
						<span>BugCenter v0.3</span>
						<p class="glyphicon glyphicon-th-list"></p>
						

					</div>

					<div class="li_nt" >
							<b>当前用户:</b>
							<span>首页</span>
							<span>图表</span>
							<span ng-click="tuic()">退出</span>
					</div>

				
				
			</div>	
			
</div>
<div>
				<ul>
					<li>发生频率:{{conten.frequency}}</li>
					<li>重要性:{{conten.importance}}</li>
					<li>简介:{{conten.summary}}</li>
					<li>描述:{{conten.description}}</li>
					<li>发布人:{{conten.from}}</li>
					<li>错误的状态:{{conten.status}}</li>
					<li>日期:{{conten.date}}</li>
				</ul>
			</div>