
		<div class="zhh_top">
			<p class="zhh_name">BugCenter<c>v0.3</c></p>
			<!--<p class="zhh_namea">欢迎登录</p>-->
		</div>
		<div class="zhh_body">
			<span class="zhh_box">
				<div class="zhh_emile"><i class="glyphicon glyphicon-user"></i></div>
				<input type="text" placeholder="Email address" ng-model='upuser.username' />
			</span>
			<span class="zhh_box">
				<div class="zhh_emile"><i class="glyphicon glyphicon-eye-close"></i></div>
				<input type="password" placeholder="Password"  ng-model='upuser.password' />
			</span>
			<a href="javascript:;" class="btn btn-primary btn-lg btn-block" id="but" ng-click="submit()">Sign in</a>
		</div>
		<!--<div class="zhh_top">
			<i class="glyphicon glyphicon-chevron-left"></i>
			<p>返回</p>
			
		</div>
		<div class="zhh_body">
			<p class="zhh_name">BugCenter<c>v0.3</c></p>
			<span class="zhh_box">
				<input type="text" placeholder="Email address">
				<input type="text" placeholder="Password">
			</span>
			<button type="button" class="btn btn-primary btn-lg btn-block" id="but">Sign in</button>
		</div>-->
