<div id="test" >
	<div class="test_head">
		
	</div>
	<div class="test_search">
		<input type="text" placeholder="" class="ipt"/><i class="glyphicon glyphicon-search"></i>
	</div>

	<div class="test_activebug">
		<div class="test_rect"><i class="glyphicon glyphicon-flash"></i></div>
		<p>全部bug</p>
		<span> > </span>
	</div>
	<div class="test_allbug">
		<div class="test_rect"><i class="glyphicon glyphicon-picture"></i></div>
		<p>bug图表</p>
		<span> > </span>
	</div>
	<div class="add_bug">
		<div class="test_rect1"><i class="glyphicon glyphicon-plus"></i></div>
	</div>
</div>	