<div class="y_box">
	<div class="y_top">
		<div class="y_nav">
			<span>BugCenter v0.3</span>
			<p class="glyphicon glyphicon-th-list"></p>

		</div>
		<div class="y_nt">
			<b>当前用户：{{username}}({{name}})</b>
			<span ng-click="tc()">退出</span>
		</div>

		
	</div>
</div>
<div class="sou col-lg-6">
	<div class="input-group">
		<input type="text" class="form-control">
		<span class="input-group-btn">
				        <button class="btn btn-default"  type="button">搜索</button>
				      </span>
	</div>
	<!-- /input-group -->
</div>
<div class="content">

	<span ng-repeat="i in data | mky:a:3" ng-click="zy(i.id)" data-toggle="modal" data-target=".bs-example-modal-lg">
		 		<p class="cwzy"> <b><zh>错误摘要</zh><a  href="JavaScript:;" ng-class="{red:i.importance=='重要',yellow:i.importance=='中等',blue:i.importance=='一般'}">{{i.importance}}</a></b> </p>
		 		<p >{{i.description}}</p>	
		 		<p class="da_1"><zh>{{i.date}}</zh> <b>{{i.status}}</b></p> 
		 	</span>

	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modl modal-dialog modal-lg">
			<div class="ba modal-content">
				<ba>简介:{{e.summary}}</ba>
				<ba>描述:{{e.description}}</ba>
				<ba>重要性:{{e.importance}}</ba>
				<ba>发生频率:{{e.frequency}}</ba>
				<ba>错误的状态:{{e.status}}</ba>
				<ba>发布人:{{e.from}}</ba>
				<ba>日期:{{e.date}}</ba>
			</div>

			<div class="xiugai" ng-click="jiejue(e.id)" ng-show='e.status=="已指派"'>修复bug</div>
		</div>

	</div>

</div>

<div class="yi_top sort">

	<nav>
		<ul class="pager">
			<li ng-click="prev()">
				<a href="javaScript:;">Previous</a>
			</li>
			<li ng-click="next()">
				<a href="javaScript:;">Next</a>
			</li>
		</ul>
	</nav>
</div>